@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@300;400;700&display=swap');

:root {
  --white: #ffffff;
  --navy: #070724;
  --dark-gray: #38384f;
  --light-gray: #838391;
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6f2ed6;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec2a4;
  --neptune: #2d68f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
