.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 1.688rem 0;
  width: 100%;
  max-width: 1920px;
  gap: 2.438rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
}

.nav__logo {
  font-family: 'Antonio';
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.063rem;
}
.nav__links a {
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.563rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 1.375rem 2rem 1.688rem 2rem;
    position: relative;
  }

  .nav__links {
    position: absolute;
    right: 2rem;
    top: 0;
  }

  .nav__links a {
    padding-top: 2.063rem;
  }

  .nav__links a:hover {
    padding-top: 1.813rem;
    border-top: 4px solid transparent;
    color: var(--white);
  }
}
