.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.688rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0rem 1.5rem;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 0.563rem;
  line-height: 0.625rem;
  letter-spacing: 1.93px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header > div {
  width: 24.46%;
  padding: 1.25rem 0rem 1.25rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.header > div.selected {
  padding: 1.25rem 0rem 1rem 0rem;
}

.selected {
  color: var(--white);
  border-bottom: 4px solid;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  color: var(--white);
  padding: 5.938rem 0rem 2.938rem 0rem;
}

.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.2%;
  gap: 6.125rem;
  position: relative;
  padding-top: 19rem;
}

.planet__img {
  position: absolute;
  top: 0;
}

.planet__geologyImg {
  position: absolute;
  top: 86.5px;
}

.planet__summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.planet__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.planet__content h1 {
  font-family: 'Antonio';
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--white);
}

.planet__content p {
  font-family: 'League Spartan';
  font-weight: 300;
  font-size: 0.938rem;
  line-height: 1.375rem;
  letter-spacing: normal;
  color: var(--white);
}

.planet__source {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: 1rem;
  leading: 1.563rem;
  color: rgba(255, 255, 255, 0.5);
}

.planet__source a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.planet__details {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  gap: 0.5rem;
}

.planet__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.73px;
  text-transform: uppercase;
  padding: 0.625rem 1.5rem 0.75rem 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.planet__detailValue {
  font-family: 'Antonio';
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.75px;
  color: var(--white);
}
